@font-face {
    font-family: 'BungeeSpice';
    src: url(/static/font/BungeeSpice-Regular.ttf) format("truetype");
}

body {
    font-family: sans-serif;
    background-color: #1d2021;
    color: rgb(197, 194, 194);
}

h1 {
    font-size: xx-large;
    font-weight: normal;
    font-style: oblique;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    color: rgb(108, 159, 176);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.remove-link-style {
    color: white;
    text-decoration: none;
    border: none;
}

.nav-container {
    display: flex;
    margin: 10px 0px 20px 0px;
}

.nav-link-button {
    display: block;
    padding: 10px 10px 10px 10px;
    border-bottom: solid 5px #008234;
    text-decoration: none;
    background-color: #203c5d;
    min-width: max-content;
    transition: all 500ms;
    /* font-family: 'BungeeSpice'; */
}

.nav-link-button span {
    filter: hue-rotate(150deg);
}

.nav-link-button:last-child {
    flex: 1 1 100%;
}

.nav-link-button:not(:last-child):not(.active):hover {
    background-color: #3d638f;
    border-bottom: solid 5px #05622a;
}

.nav-link-button.active {
    font-weight: bold;
    background-color: #5e87b6;
    color: antiquewhite;
    border-bottom: solid 5px #174d2d;
}


.topics-articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics-scroller {
    display: flex;
    width: 75%;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 8px;
    min-width: 50px;
}

.topic-container {
    display: flex;
}

.topic-link {
    min-width: max-content;
    margin: 0 5px;
}

.topic-link:hover {
    color: #5e87b6;
    transform: translate(0px, 1px);
}

.selected-topic {
    color: #5e87b6;
    font-weight: bold;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.articles-column {
    flex: 1 1 0%;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
}

.article-card {
    background-color: #202425;
    border: solid 1px #1a1d1e;
    border-radius: 5px;
    flex: 1 1 0%;
    flex-direction: column;
    margin: 10px;
    box-shadow: inset 0px 110px 50px -100px #1f5e99, 3px -1px 3px 1px #00000059;
    transition: all 500ms;
}

.article-card > * {
    display: inline-block;
    padding: 20px;
}

.article-card:hover {
    transform: translate(-3px, -3px);
    box-shadow: inset 0px 120px 50px -100px #2d6a9d, 3px -1px 13px 4px #00000059;
}

.article-title {
    font-size: 25px;
    color: #6c9fb0;
    margin-bottom: 15px;
}

.article-published {
    margin-top: 10px;
    font-style: italic;
    font-size: 12px;
}

.comments-title {
    font-size: xx-large;
    margin-top: 2rem;
    margin-bottom: 5px;
}

.comments-container {
    display: flex;
    flex-direction: column;
}

.comment-block {
    border-bottom: dashed 1px #444;
    margin: 5px 0;
    padding: 5px 5px 15px 5px;
}

.comment-group-padding {
    padding-left: 45px;
}

.comment-avatar {
    border: solid 2px rgb(1, 99, 1);
    overflow: hidden;
    background-color: #008234;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-letter {
    text-shadow: 1px 0 0 rgb(1, 99, 1), 0 -1px 0 rgb(1, 99, 1), 0 1px 0 rgb(1, 99, 1), -1px 0 0 rgb(1, 99, 1);
    cursor: default;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.comment-author {
    color: white;
    font-weight: bolder;
}

.comment-date {
    color: gray;
    font-size: smaller;
    margin-left: 5px;
}

.comment-author-date {
    margin-bottom: 5px;
}

.date {
    color: red;
}

.author {
    color: #6b8db4;
}

.comments_title {
    font-size: 20px;
    font-weight: 500;
}

.published {
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    text-indent: 5px;
    color: burlywood;
    border-bottom: solid 1px brown;
}

.commented {
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    text-indent: 5px;
    color: burlywood;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

#content {
    float: left;
    padding: 0 2% 0 2%;
}

.align-center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-teapot {
    height: 100vh;
    animation: teapot-rainbow 3s infinite;
}

@keyframes teapot-rainbow {
    0% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(0deg);
    }
    10% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(36deg);
    }
    20% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(72deg);
    }
    30% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(108deg);
    }
    40% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(144deg);
    }
    50% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(180deg);
    }
    60% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(216deg);
    }
    70% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(252deg);
    }
    80% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(288deg);
    }
    90% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(324deg);
    }
    100% {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(360deg);
    }
}

.topics-articles-container ::-webkit-scrollbar {
    height: 5px;
}

.topics-articles-container ::-webkit-scrollbar-thumb {
    background: #008234;
    border-radius: 2px;
}

.topics-articles-container ::-webkit-scrollbar-thumb:hover {
    background: #3d638f;
    /*background: #5e87b6;*/
    /*background: #05622a;*/
    /*border: solid 1px #efefef30;*/
}

.topics-articles-container ::-webkit-scrollbar-track {
    background: #174d2d;
}
