{% block content %}

    <div class="articles-container">
        {% for column in article_columns %}
            <div class="articles-column">
                {% for article in column %}
                    <div class="article-card">
                        <a class="remove-link-style" href="{{ article.get_absolute_url }}">
                            <div class="article-title">
                                {{ article.title }} #{{ article.pk }}
                            </div>
                            <div class="article-contents">
                                {{ article.content|truncatewords:69 }}
                            </div>
                            <div class="article-published">
                                By <span class="author"> {{ article.author }} </span>
                                published {{ article.created }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
